// Colours
$brand-primary: #C63B1E;
$brand-secondary: #405BAA;
$brand-tertiary: #433E30;
$light: #E2DFD6;

// Google Fonts
@import url('http://fonts.googleapis.com/css?family=Kanit:400,400i,700,700i,800,900,900i');

// Fonts
$font-primary: 'Kanit', sans-serif;
