extends layout

block content
  .container
    .row
      .col-lg-8.offset-lg-2.col-md-10.offset-md-1
        h1=title
        form#formAddMatch(name="book-match", method="post", action="/book-match")
          .form-group
            input.form-control(type="text", placeholder="Wretler 1", name="wrestlers")
          .form-group
            input.form-control(type="text", placeholder="Wretler 2", name="wrestlers")
          .form-group
            input.form-control(type="text", placeholder="Wretler 3", name="wrestlers")
          .form-group
            input.form-control(type="text", placeholder="Wretler 4", name="wrestlers")
          .form-group
            input.form-control(type="text", placeholder="Match stipulation", name="stipulation")
          .form-group
            input.form-control(type="text", placeholder="Event", name="event")
          .form-group
            select.form-control(name="timeLimit")
              option(value='15 Minutes') 15 Minutes
              option(value='30 Minutes') 30 Minutes
              option(value='45 Minutes') 45 Minutes
              option(value='60 Minutes', selected='') 60 Minutes
          .form-group
            button.btn.btn-primary(type="submit") Book Match