extends layout

block content
  h1= title

  each match, i in matches
    h1
      if match.wrestlers
        each wrestler, index in match.wrestlers
          //- If the wrestler value is not blank then show it
          if wrestler != ''
            =wrestler
            | &nbsp;
            //- if index <= match.wrestlers.length - 2
            | vs&nbsp;

    if match.event
      span= match.event
        | &nbsp;-&nbsp;
    if match.stipulation
      span=match.stipulation
        | &nbsp;-&nbsp;
    if match.timeLimit
      span=match.timeLimit

