extends layout

block content
  h1= title
  p Welcome to #{title}

  each match, i in matches
    span=match.stipulation
      | &nbsp;-&nbsp;
    span=match.timeLimit

    h1
      each wrestler, index in match.wrestlers
        =wrestler
        | &nbsp;
        if index <= match.wrestlers.length - 2
          | vs&nbsp;
