extends layout

block content
  h1= title
  p Welcome to #{title}

  each match, i in matches
    li=match.stipulation

    h1
      each wrestler, index in match.wrestlers
        =wrestler
        | &nbsp;
        if index <= match.wrestlers.length - 2
          | vs&nbsp;
