@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: $light;
  font-family: $font-primary;
}

.main-content {
  padding-top: 15px;
}

nav {
  width: 100%;
}

a {
  color: #00B7FF;
}